<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="eCoati category"
            id="category.ecoati.id">
      </category>
      <command
            name="ActivateToken"
            categoryId="category.ecoati.id"
            id="command.ActivateToken.id">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="command.ActivateToken.id"
            class="io.coati.eCoati.core.handlers.ActivateToken">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="menu.eCoati.id"
               label="eCoati">
            <command
                  commandId="command.ActivateToken.id"
                  mnemonic="S"
                  id="command.ActivateToken.menu.memonic.id">
            </command>
         </menu>
      </menuContribution>
	  <menuContribution
			 locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/sample.gif"
               label="%menu.label.0">
            <command
                  commandId="command.ActivateToken.id"
                  icon="icons/coati_16.png"
                  label="%command.label"
                  mnemonic="%command.mnemonic.0"
                  tooltip="%command.tooltip">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="toolbar.ActivateToken.id">
            <command
                  commandId="command.ActivateToken.id"
                  icon="icons/sample.gif"
                  tooltip="Send location to Coati"
                  id="ActivateToken.id">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="io.coati.eCoati.preferences.CoatiPreferencePage"
            id="coati.preferences.CoatiPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.coati.eCoati.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="io.coati.eCoati.Startup"/>
   </extension>

</plugin>
